
.propInput {
  margin: 5px 0;
}

.propInput label {
  display: inline-block;
  min-width: 100px;
}

.propInput input {
  min-width: 500px;
}

.propInput span {
  margin: 0 10px;
  display: inline-block;
  color: red;
}

